.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: #161625;
}
.responsive-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 80%;
  max-width: 1140px;
}
.logo-container {
  display: flex;
  align-items: center;
}
.heading {
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: 500;
  color: #cbd5e1;
}
.logo {
  width: 40px;
  height: 40px;
}
.heading2 {
  font-size: 22px;
  font-family: 'Roboto';
  font-weight: 700;
  color: #cbd5e1;
}
